<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pidog</title>
  <script>
    let lock = false;
    function sendCommand(command) {
      lock = true;
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/command", true);
      xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhttp.send(JSON.stringify({ command: command }));
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          lock = false;
        }
      }
    }
    document.addEventListener('keydown', (event) => {
      if (lock) {
        return;
      }
      const keyName = event.key;
      if (keyName == '1') sendCommand("doze_off");
      if (keyName == '2') sendCommand("pushup");
      if (keyName == '3') sendCommand("howling");
      if (keyName == '4') sendCommand("body_twist");
      if (keyName == 'q') sendCommand("bark");
      if (keyName == 'Q') sendCommand("bark2");
      if (keyName == 'w') sendCommand("forward");
      if (keyName == 'W') sendCommand("trot");
      if (keyName == 'e') sendCommand("pant");
      if (keyName == 'r') sendCommand("wag_tail");
      if (keyName == 'a') sendCommand("turn_left");
      if (keyName == 's') sendCommand("backward");
      if (keyName == 'd') sendCommand("turn_right");
      if (keyName == 'f') sendCommand("shake_head");
      if (keyName == 'z') sendCommand("lie");
      if (keyName == 'x') sendCommand("stand");
      if (keyName == 'c') sendCommand("sit");
      if (keyName == 'v') sendCommand("stretch");
      if (keyName == 'u') sendCommand("head_roll_left");
      if (keyName == 'i') sendCommand("head_pitch_up");
      if (keyName == 'o') sendCommand("head_roll_right");
      if (keyName == 'j') sendCommand("head_yaw_left");
      if (keyName == 'k') sendCommand("head_pitch_down");
      if (keyName == 'l') sendCommand("head_yaw_right");
    });
    document.addEventListener('keyup', (event) => {
      const keyName = event.key;
      // const headNeedResetCommands = ["head_roll_left", "head_pitch_up", "head_roll_right", "head_yaw_left", "head_pitch_down", "head_yaw_right"];
      const headNeedResetCommands = ["u", "i", "o", "j", "k", "l"];
      if (headNeedResetCommands.includes(keyName)) {
        sendCommand("head_reset");
      }
    });
    // };
  </script>
</head>

<body>
  <img id="video" src="/mjpg" height="80%">
</body>

</html>